<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--单点登录地址-->
    <add key="SSO_LOGIN_URL" value="http://sso.test.com/login.aspx" />
    <!--单点登出地址-->
    <add key="SSO_LOGOUT_URL" value="http://sso.test.com/logout.aspx" />
    <!--单点登录ServiceTicket认证WebService地址-->
    <add key="SSO_TICKET_SERVICE_URL" value="http://sso.test.com/ticket.asmx" />
    <!--不需要SSO保护的链接-->
    <add key="SSO_MODULE_IGNORE_PATH" value="/sso/;/res/" />
    <!--应用系统的编号-->
    <add key="SERVICE_ID" value="BPM" />
    <!--应用系统的秘钥-->
    <add key="SECRET_KEY" value="BPM12345" />
    <!--单点登录AccessTicket使用的Cookie名称-->
    <add key="ACCESS_TICKET_COOKIE" value="AccessTicketCookie" />
    <!--接入系统内部认证使用的Cookie名称-->
    <add key="AUTH_COOKIES" value="" />
    <!--应用系统登录Url-->
    <add key="LOGIN_URL" value="/sso/login?ReturnUrl={ReturnUrl}" />
    <!--是否启用日志-->
    <add key="ENABLE_LOGGING" value="false" />
  </appSettings>

  <system.web>
    <compilation debug="true" />
    <!--<customErrors mode="Off" />-->
    <authentication mode="Forms" />
    <authorization>
      <deny users="?" />
    </authorization>
    <!-- IIS 6 settings begin -->
    <httpHandlers>
      <add path="sso/login" verb="*" type="Indigox.SSO.Client.Web.LoginHandler, Indigox.SSO.Client" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="sso_module" type="Indigox.SSO.Client.Web.SSOModules, Indigox.SSO.Client" />
    </httpModules>
    <!-- IIS 6 settings end -->
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!-- IIS 7 settings begin -->
    <handlers>
      <add name="sso_login_page" path="sso/login" verb="*" type="Indigox.SSO.Client.Web.LoginHandler, Indigox.SSO.Client" />
    </handlers>
    <modules>
      <add name="sso_module" type="Indigox.SSO.Client.Web.SSOModules, Indigox.SSO.Client" />
    </modules>
    <!-- IIS 7 settings end -->
  </system.webServer>
</configuration>