<?xml version="1.0"?>
<warmup>
  <elements>
    <add name="instructions" type="Indigox.Web.Remoting.Web.InstructionWarmUp, Indigox.Web.Remoting" />
    <add name="repository" type="Indigox.Common.DomainModels.Repository.NHibernateImpl.Web.WarmUp, Indigox.Common.DomainModels.Repository.NHibernateImpl" />
  </elements>
</warmup>
