<?xml version="1.0"?>
<database>
  <connections>
    <add name="SSO" connectionString="uid=sa; pwd=P@ssw0rd; server=.; database=EIP_SSO; Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="Settings" connectionString="uid=sa; pwd=P@ssw0rd; server=.; database=EIP_SSO; Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="Security" connectionString="uid=sa; pwd=P@ssw0rd; server=.; database=EIP_SSO; Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="UUM" connectionString="uid=sa; pwd=P@ssw0rd; server=.; database=EIP_UUM; Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connections>
</database>
